/* === Typography === */

body {
    font-family: ‘Helvetica’, ‘Arial’, sans-serif;
    font-size: 14pt;
    line-height: 18pt;
    color: #000000;
    }

nav a{
    font-size: 18px;
    color: #cdcdcd;
    text-decoration: none;
}

h1{
    font-size: 72px;
    font-family: 'Teko', sans-serif;
}

h2{
    font-size: 24px;
}

footer{
    font-size: 10px;
    font-style: oblique;
    color: #ffffff;
}



/* === Backgrounds === */

header{
    background-color: #000000;

}

main{
    background-color: #cdcdcd;
}

body{
    background-color: #ffffff;
}

footer{
    background-color: #000000;
}

#splash{
    background-image: url("heading.jpg");
    background-size: cover;
}



/* === Box Model === */

#splash{
    height: 400px;
}

nav{
    padding-top: 10px;
}

footer{
    padding: 48px;
    width: 100%;
    bottom: 0px;
    left: 0px;
}

#foodarticles{
    padding-top: 50px;
    padding-bottom: 100px;
    margin-left: 37px;
    margin-right: 37px;
}

article{
    margin-bottom: 110px;
}

nav a{
    margin-right: 15px;
}



/* === Layout === */

.floatleft{
    float: left;
    margin-right: 30px;
    margin-bottom: 15px;
}

#container{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    margin: auto;
}

main{
    display: grid;
    grid-template-columns: 70% 25%;
}

#splash{
    grid-column-start: 1;
    grid-column-end: 3;
}

aside{
    margin-left: 35px;
    padding-top: 50px;
}

header{
    position:fixed;
    width: 100%;
    padding: 15px;
    top: 0px;
    left: 0px;
}

body{
    padding-top: 135px;
}

.ad{
    background-color: #ff0000;
    width: 385px;
    padding-top: 38px;
    padding-bottom: 38px;
    padding-right: 30px;
    padding-left: 30px;
    position: fixed;
    bottom: 0px;
    right: 0px;
}

#splash{
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    text-align: center;
}

footer{
    text-align: center;
}

aside ul{
    margin-bottom: 63px;
}